header {
  height: 4rem;
  background-color: #343434;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  color: #c0c0c0;
}

header h1 {
  font-weight: 700;
}

header h1 > span {
  font-weight: 700;
  color: rgb(28, 177, 222);
}

header > div {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
