
.cart {

  position: relative;

}

.cart_icon {

  font-size: 30px;

}




.cart > p {

  position: absolute;

  right: -5px;

  top: -5px;

  background-color: #c0c0c0;

  height: 1rem;

  width: 1rem;

  border-radius: 50%;

  display: flex;

  align-items: center;

  justify-content: center;

  color: rgb(40, 39, 39);

}